APScheduler==3.6.0
beautifulsoup4==4.7.1
dash==0.39.0
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
dnspython==1.16.0
feedparser==5.2.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.7
Flask-JWT-Extended==3.18.2
numpy==1.21.0
pandas==0.23.4
pymongo==3.7.1
redis==3.2.1
rq==0.11.0
xmltodict==0.12.0
gunicorn==19.9.0

